

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Tipo Mascota</th>
            <th>Raza</th>
           
        </tr>
    </thead>
  
       

</table>
