
<div class="container col-12">
    <div class="row">
        <div class="listado col-12">
        </div>


        <div class="col-sm-3">
            <div class="card" style="background-color: pink;">
                <div class="card-body">
                    <h5 class="card-title text-center"> <img id="cafe" src="/lib/Collar.jpg" style="height: 250px; width: 250px; align-items: center"> Correa con collar </h5>
                    <p class="card-text"><label id="componente"> </label><br>Precio: 4500</p>
               
                    <p class="card-text text-center">
                        <a data-toggle="modal" data-target="#exampleModal3" href="#" class="btn btn-primary">Añadir al Carrito</a>
                       
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card" style="background-color: pink;">
                <div class="card-body">
                    <h5 class="card-title text-center"><img id="donas" src="/lib/Transportadora.jpeg" style="height: 250px; width: 250px;"> Transportadora </h5>
                    <p class="card-text"><label id="componente"></label><br>Precio: 15000</p>
                    <p class="card-text text-center">
                        <a data-toggle="modal" data-target="#exampleModal3" href="#" class="btn btn-primary">Añadir al Carrito</a>
                        
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card" style="background-color: pink;">
                <div class="card-body">
                    <h5 class="card-title text-center"><img id="donas" src="/lib/Zapatos.jpg"  style="height: 250px; width: 250px;"> Zapatos </h5>
                    <p class="card-text"><label id="componente"></label><br>Precio: 7000</p>
                    <p class="card-text text-center">
                        <a data-toggle="modal" data-target="#exampleModal3" href="#" class="btn btn-primary">Añadir al Carrito</a>

                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card" style="background-color: pink;">
                <div class="card-body">
                    <h5 class="card-title text-center"><img id="donas" src="/lib/Combo.png" style="height: 250px; width: 250px;"> Combo  </h5>
                    <p class="card-text"><label id="componente"></label><br>Precio: 30000</p>
                    <p class="card-text text-center">
                        <a data-toggle="modal" data-target="#exampleModal3" href="#" class="btn btn-primary">Añadir al Carrito</a>

                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card" style="background-color: pink;">
                <div class="card-body">
                    <h5 class="card-title text-center"><img id="donas" src="/lib/Comedero.jpg" style="height: 250px; width: 250px;"> Comedero </h5>
                    <p class="card-text"><label id="componente"></label><br>Precio: 15000</p>
                    <p class="card-text text-center">
                        <a data-toggle="modal" data-target="#exampleModal3" href="#" class="btn btn-primary">Añadir al Carrito</a>

                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card" style="background-color: pink;">
                <div class="card-body">
                    <h5 class="card-title text-center"><img id="donas" src="/lib/Comederogato.jpg" style="height: 250px; width: 250px;"> Comedero Gato </h5>
                    <p class="card-text"><label id="componente"></label><br>Precio: 15000</p>
                    <p class="card-text text-center">
                        <a data-toggle="modal" data-target="#exampleModal3" href="#" class="btn btn-primary">Añadir al Carrito</a>

                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card" style="background-color: pink;">
                <div class="card-body">
                    <h5 class="card-title text-center"><img id="donas" src="/lib/Collarperlas.jpeg" style="height: 250px; width: 250px;"> Collar perlas </h5>
                    <p class="card-text"><label id="componente"></label><br>Precio: 7500</p>
                    <p class="card-text text-center">
                        <a data-toggle="modal" data-target="#exampleModal3" href="#" class="btn btn-primary">Añadir al Carrito</a>

                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card" style="background-color: pink;">
                <div class="card-body">
                    <h5 class="card-title text-center"><img id="donas" src="/lib/Sueter.jpeg" style="height: 250px; width: 250px;"> Sueter </h5>
                    <p class="card-text"><label id="componente"></label><br>Precio: 7000</p>
                    <p class="card-text text-center">
                        <a data-toggle="modal" data-target="#exampleModal3" href="#" class="btn btn-primary">Añadir al Carrito</a>

                </div>
            </div>
        </div>

</div>

    </div>


